
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
 
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
 
  
}
.wrapper{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 4rem;
}
.counter-Heading{
  margin-bottom: 4rem;
  text-align: center;
}
.counter-decrease{
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
  color: blue;
}
.input{
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.counter-increase{
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
  color: orangered;
}
.counter{
  display: flex;
}

.btn-decrease {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
.btn-decrease {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   text-decoration: none;
 }

 .btn-increase {background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%)}
 .btn-increase {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    text-decoration: none;
  }

  .btn-increase:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 .symbol{
   padding: .7rem;
   font-size: 1.6rem;
  
 }
 

